body{
   background-image: url("./images/ife.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    

    transition: all 0.5s ease-in-out;
}
.container{
    margin: auto;
    border: 10px;
    font-size: 20;
    padding: 20px;
    /* flex: auto; */
    border-radius: 20px;
    /* background-color: rgb(189, 121, 31); */
    
}